/*csslint ids: false, box-model: false*/

/*=============================================
General
==============================================*/

body {
    font-family: 'Open Sans', sans-serif;
}

#wrapper {
    /* Margin 0 is for all sides*/
    margin: 0 auto;
    /* max-width is related to width. But instead of width, max-width that it can be smaller for mobile devices/tablets. */
    max-width: 940px;
    /* Values first one is top and bottom. Second one is left and right.*/
    padding: 0 5%;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

h3 {
    margin: 0 0 1em 0;
}


/*===============================================
Header
=================================================*/

header {
    float: left;
    margin: 0 0 30px 0;
    padding: 5px 0 0 0;
    width: 100%;
}

#logo {
    /* The name and description of who I am */
    color: black;
    margin: 0;
    text-align: center;   
}

h1 {
    color: white;
    font-family: 'Sarala', sans-serif;
    font-size: 1.75em;
    margin: 15px 0;   
}

h2 {   
    color: white;
    font-size: 0.75em;
    /*1st value is for top. 2nd value is for left and right. 3rd value is for the bottom. */
    font-weight: normal;
    margin: -5px 0 0;
    margin-bottom: 20px;
}


/*===============================================
Navigation
=================================================*/

nav {
    margin: 20px 0 0;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    margin: 0 10px;
    padding: 10px 0;
}

nav li {
    display: inline-block;
}

nav a {
    font-weight: 800;
    padding: 15px 10px;
}


/*===============================================
Footer
=================================================*/

footer {
    clear: both;
    font-size: 0.75em;
    padding-top: 50px;
    text-align: center;
}

footer p {
    color: white;
}

.social-media-icon {
    height: 20px;
    margin: 0 5px;
    width: 20px;
}


/*===============================================
Page Portfolio
=================================================*/
#page1 {
    height: 1000px;
}

#gallery {
    list-style: none;
    margin: 0;
    padding: 0;
}

#gallery li {
    background-color: #1351A1;
    color: #bdc3c7;
    float: left;
    margin: 2.5%;
    width: 45%;
}

#gallery li a p {
    color: black;
    font-size: 0.75em;
    margin: 0;
    padding: 5%;
}


/*===============================================
About Me Page
=================================================*/
#page2 {
    height: 1000px;
}

.profile-photo {
    border-radius: 50%;
    display: block;
    max-width: 30px;
}


/*===============================================
Contact Page
=================================================*/
#page3 {
    height: 1000px;
}

.contact-info {
    font-size: 0.9em;
    list-style: none;
    margin: 0;
    padding: 0;
}

.contact-info a {
    background-repeat: no-repeat;
    background-size: 20px 20px;
    display: block;
    margin: 0 0 10px;
    min-height: 20px;
    padding: 0 0 0 30px;
}

.contact-info .mail a {
    background-image: url('../img/mail.png');
}

.contact-info .instagram a {
    background-image: url('../img/instagram.png');
}


/*===============================================
Colors
=================================================*/

body {
    background-image: url('../img/carbonfiber.png');
    color: black;
}

a {
    color: black;
}

header {
    background: black;
}

nav {
    background: grey;
}

nav a,
nav a:visited {
    color: white;
}

nav .selected,
nav a:hover {
    color: blue;
}

p {
    color: white    ;
}


/*===============================================
Media Querie
=================================================*/


/* Two Column Layout */

@media screen and (min-width: 480px) {
    #primary {
        float: left;
        width: 50%;
    }
    #secondary {
        float: right;
        width: 40%;
    }
    /* Three Column layout that doesnt work */
    #gallery li {
        width: 28.3333%;
    }
    #gallery li:nth-child(4n) {
        clear: left;
    }
    /* About page */
    .profile-photo {
        float: left;
        margin: 0 5% 88px 0;
    }
}

@media screen and (min-width: 660px) {
    /*Nav*/
    nav {
        background: none;
        float: right;
        font-size: 1.125em;
        margin-right: 5%;
        text-align: right;
        width: 45%;
    }
    #logo {
        float: left;
        margin-left: 5%;
        text-align: left;
        width: 45%;
    }

    
    header {
        border-bottom: 5px blue;
        margin-bottom: 60px;
    }
}